/* 1st Section */
.homepage {
    display: flex;
    align-items: center;
    width: 80vw;
    padding: 70px 0 80px 0;
}

.homepage img {
    width: 40%;
    margin-left: 5rem;
}

.homepage h2 {
    font-size: 2em;
}

.homepage h2 span {
    background: linear-gradient(90deg, rgba(255, 43, 166, 1) 0%, rgba(32, 227, 255, 1) 50%, rgba(182, 255, 59, 1) 100%);
    color: transparent;
    background-clip: text;
}

/* Button border gradient animation */
/* Reference: https://www.youtube.com/watch?v=PTVXnOrQoBQ */
.mainBtn {
    margin: 5px;
    padding: 10px;
    background: #000;
    border: none;
    border-radius: 1000px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mainBtn::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    z-index: -1;
}

.mainBtn.primary::after {
    background-image: linear-gradient(to right, #ff2ba6, #20e3ff);
}

.mainBtn.secondary::after {
    background: #b7ff3b;
}

.mainBtn:hover {
    z-index: 0;
}

.mainBtn.secondary:hover {
    color: #000;
}

.homeTags p {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--gray-05);
    border-radius: 25px;
    display: inline-flex;
}

/* Launches */
.launches {
    background: linear-gradient(180deg, #1E616F 0%, #000 100%);
    width: 100%;
}

.launches > div {
    width: 80%;
    margin: 10px auto;
}

.launches header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.launches header a {
    padding: 10px;
    border: 2px solid hsl(190, 57%, 48%);
    background: linear-gradient(to right, hsl(190, 57%, 48%), #1E616F);
    border-radius: 1000px;
    margin-top: 5px;
}

.launches > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.launches article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 15em;
    margin: 10px;
    background-color: #000;
}

.launches article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.launches img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.launches article h3 {
    padding: 0;
    margin: 0;
}

.launches article > div {
    padding: 16px;
}

.launches article > div a {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 1000px;
    margin-top: 5px;
    display: inline-block;
}

/* Artist */
.artist {
    background: linear-gradient(180deg, #6D1A4A 0%, #000000 100%);
    width: 100%;
}

.artist > div {
    width: 80%;
    margin: 10px auto;
}

.artist header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.artist header a {
    padding: 10px;
    border: 2px solid hsl(325, 61%, 46%);
    background: linear-gradient(to right, hsl(325, 61%, 46%), #6D1A4A);
    border-radius: 1000px;
    margin-top: 5px;
}
.artist article {
    margin: 10px;
}

.artist > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artist article {
    display: inline-flex;
}