/* 1st Section */
.homepage {
    display: flex;
    align-items: center;
    width: 80vw;
    padding: 70px 0 80px 0;
}

.homepage img {
    width: 40%;
    margin-left: 5rem;
}

.homepage h2 {
    font-size: 2em;
}

.homepage h2 span {
    background: linear-gradient(90deg, rgba(255, 43, 166, 1) 0%, rgba(32, 227, 255, 1) 50%, rgba(182, 255, 59, 1) 100%);
    color: transparent;
    background-clip: text;
}

/* Button border gradient animation */
/* Reference: https://www.youtube.com/watch?v=PTVXnOrQoBQ */
.mainBtn {
    margin: 5px;
    padding: 10px;
    background: #000;
    border: none;
    border-radius: 1000px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mainBtn::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    z-index: -1;
}

.mainBtn.primary::after {
    background-image: var(--mainbtn-primary-gradiant);
}

.mainBtn.secondary::after {
    background: var(--mainbtn-secondary-gradiant);
}

.mainBtn:hover {
    z-index: 0;
}

.mainBtn.secondary:hover {
    color: #000;
}

.homeTags p {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--gray-05);
    border-radius: 25px;
    display: inline-flex;
}

.releases header, .artist header, .festivals header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.releases header a, .artist header a, .festivals header p {
    padding: 10px;
    border-radius: 1000px;
}

/* releases */
.releases {
    background: linear-gradient(180deg, var(--darker-cyan) 0%, #000 100%);
    width: 100%;
}

.releases > div {
    width: 80%;
    margin: 10px auto;
}

.releases header a {
    border: 2px solid hsl(190, 57%, 48%);
    background: linear-gradient(to right, hsl(190, 57%, 48%), var(--darker-cyan));
    margin-top: 5px;
}

.releases > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.releases article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 15em;
    margin: 10px;
    background-color: #000;
}

.releases article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.releases img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.releases article h3 {
    padding: 0;
    margin: 0;
}

.releases article > div {
    padding: 16px;
}

.releases article > div a {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 1000px;
    margin-top: 5px;
    display: inline-block;
}

/* Artist */
.artist {
    background: linear-gradient(180deg, #6D1A4A 0%, #000000 100%);
    width: 100%;
}

.artist > div {
    width: 80%;
    margin: 10px auto;
}

.artist header a {
    border: 2px solid hsl(325, 61%, 46%);
    background: linear-gradient(to right, hsl(325, 61%, 46%), #6D1A4A);
    margin-top: 5px;
}
.artist article {
    margin: 10px;
}

.artist > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artist article {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    background-color: #000;
    width: 20rem;
}

.artist article img {
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    margin: 10px;
}

.artist article div {
    margin: 0 10px;
}

/* Festivals */
.festivals {
    background: linear-gradient(180deg, #2F3E1C 0%, #000 100%);
    width: 100%;
}

.festivals > div {
    width: 80%;
    margin: 10px auto;
}

.festivals header h2 {
    display: inline;
    background-image: var(--gradient-pink-to-cyan);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
}

.festivals header p {
    border: 2px solid hsl(84, 48%, 28%);
    background: linear-gradient(to right, hsl(84, 48%, 28%), #2F3E1C);
}

.festivals > div > div, .festivalMainSection {
    display: flex;
}

.festivals article {
    margin: 10px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

.festivalMainSection {
    background-color: #648C28;
    height: fit-content;
    border-radius: 10px;
    width: 75%;
}

.festivalMainSection article img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: inherit;
}

.festivalMainSection article div {
    margin: 10px;
}

.festivalMainSection article div span {
    background-color: #5C1F45;
    border-radius: 1000px;
    padding: 8px 10px;
    display: inline-block;
    margin: 5px 0;
}
.festivals aside {
    width: 25%;
}

.festivals aside img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.festivals aside div {
    padding: 10px;
}

.festivals aside div a {
    border: 1px solid gray;
}