:root {
    --gradient-pink-to-cyan: linear-gradient(90deg, rgba(255, 43, 166, 1) 0%, rgba(32, 227, 255, 1) 100%);
    --mainbtn-primary-gradiant: linear-gradient(to right, #ff2ba6, #20e3ff);
    --mainbtn-secondary-gradiant: #b7ff3b;
    --gray-05: rgba(128, 128, 128, .5);
    --darker-cyan: hsl(190, 57%, 28%);
    --dark-cyan: hsl(190, 57%, 48%);
}

body {
    background-color: #000;
    color: #fff;
    font-family: Verdana, sans-serif;
}

main {
    display: grid;
    justify-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

html, body, ul, li {
    padding: 0;
    margin: 0;
}

/* Header of the webpage*/
body>header, body>footer {
    padding: 20px 100px;
    ;
    position: sticky;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    border-top: 1px solid var(--gray-05);
    border-bottom: 1px solid var(--gray-05);
    z-index: 1000;
}

body>header h1, body>footer h1 {
    font-size: 1.17em;
}

/* Add Gradient */
/* Reference: https://stackoverflow.com/questions/8384751/css-text-gradient */
body>header span, body>footer span {
    background: var(--gradient-pink-to-cyan);
    color: transparent;
    background-clip: text;
}

nav ul li {
    list-style-type: none;
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #b7ff3ba1;
}

/* Reference: https://stackoverflow.com/questions/44147872/linear-gradient-underline-for-hyperlink */
main section header h2 {
    display: inline;
    background-image: var(--gradient-pink-to-cyan);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
}

/* Footer */
body>footer {
    padding-bottom: 30px;
}

body>footer nav {
    margin-top: 10px;
}

body>footer p, body>footer address {
    display: inline;
}